html{
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
    font-family: fantasy;
    background-color: aliceblue;
}

li {
    margin: auto 2em auto 2em;
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

td {
    padding: 0 5px 0 5px;
    max-width: 300px; 
    word-wrap: break-word;
    
    border-top-style: solid;
    border-top-color: gainsboro;
    border-top-width: 1px;
/*    border-bottom: solid;*/
}

#menu{
    width: 100%;
    height: 3vh;
    margin: 1vh auto 3vh auto;
    background-color: aliceblue;
}

#copyright{
    margin-top: 3vh;
}

#error{
    color: red;
    font-style: italic;
    font-family: sans-serif;
}

#sign_up{
    display:inline-block;
}

#sign_in{
    display: inline-block;
}

#sign_in a{
    color: blue;
    font-size: small;
}

#prec_page a{
    cursor: auto;
    color: blue;
    font-size: small;
    text-align: left;
    text-decoration: underline;
    display: inline-block;    
}

#a_align_right a{
    color: blue;
    font-size: small;
    text-align: right;
}

#img_gallery{
    width: 10px;
    height: 10px;
}

#verti_stick{
    width: 2px;
    height: 100%;
    padding: 50px 0px 100px 0px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: gainsboro;
    display: inline-block;
}

#display_home_page{
    display: inline-flex;
/*    padding-top: 0px;*/
/*    margin-top: 0px;*/
}

.id_video{
/*    margin: 0px auto;*/
    display: inline-block;
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
    width: 65%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
    
        }
.id_photo{
/*    margin: 0px auto;*/
    display: block;
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
    width: 65%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-top: 0px;
    
        }


.prev_pic{
    display: inline-block;
}

.id_rendu{
                width: 525px;
                height: 260px;
                margin: 0px auto;
}

#button_save{
    margin-top: 10px;
    position: relative;
}

#videoElement{
                width: 500px;
                height: 375px;
                background-color: gainsboro;
                border-width: 1vh;
                border-color: black;
                border-style: double;
        }

.drophere{
                width: 500px;
                height: 375px;
                background-color: gainsboro;
                border-width: 1vh;
                border-color: black;
                border-style: double;
        }
#buttonElement{
                margin-top: 1vh;
                margin: 5px 40% 20px 40%;
                position: relative;
        }
#canvasElement{
                width: 300px;
                height: 225px;
                border-width: 0.2vh;
                border-color: gainsboro;
                border-style: dashed;
/*                display: flex;*/
/*                position: absolute;*/
/*                z-index: 2;*/
               /* filter: type(value);*/
        }
         /*   #snapshotElement{
                width: 100px;
                height: 100px;
                position: absolute;
                z-index: 2; 
                filter: alpha;
            }*/

#info_pic{
    font-size: small;
    display: inline-block;
}

#like_button{
/*
    margin: 0;
    padding: 0;
*/

}

#user_pic{
    margin-right: 8px;
    margin-left: 8px;
}

#comments{
    margin: auto;
    margin-bottom: 5px;
    padding: 4px;
    padding-top: 0px;
    width: 40%;
    background-color: whitesmoke;
    
    border-style: solid;
    border-color: gainsboro;
    border-width: 2px;
    border-radius: 12px;
}


table {
    margin-right: auto;
    margin-left: auto;
    font-family: monospace;
}

/*
#filtre {
    width: 600px;
    height: 190px;
    overflow: scroll;
    display: inline-block;
}
*/

#form_filtre{
    background-color: white;
    width: 500px;
    height: 200px;
    overflow: scroll;
    border-style: solid;
    border-width: thin;
    border-color: gainsboro;
}

.pres_pic pre{
/*    display: inline-block;*/
    margin: 0;
    font-size: smaller;
}

